/* MOEDAS */
.fundo-cinza {
    background-color: #f4f6f8;
    margin: 0;
    padding-bottom: 80px;
}

.cabecalho-moedas {
    background: linear-gradient(135deg, #2838a3, #4a5cd0);
    color: white;
    text-align: center;
    padding: 40px 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 4px 15px rgba(40, 56, 163, 0.3);
}

.titulo-saldo {
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 5px;
    font-family: 'roboto-medium', sans-serif;
}

.valor-saldo {
    font-size: 48px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-family: 'roboto-black', sans-serif;
    color: #fff;
}

.container-desafios { padding: 20px; }
.titulo-secao { font-size: 18px; color: #09092d; margin-bottom: 15px; }
.lista-desafios { display: flex; flex-direction: column; gap: 15px; }

.card-desafio {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.info-desafio h3 { font-size: 15px; color: #09092d; margin: 0 0 5px 0; }
.info-desafio p { font-size: 12px; color: #666; margin: 0 0 10px 0; }

.barra-progresso {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 6px;
    width: 100%;
    overflow: hidden;
}

.progresso {
    background-color: #ffaa00;
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s;
}

.btn-recompensa {
    background-color: #f0f0f0;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: bold;
    color: #555;
    font-size: 13px;
    white-space: nowrap;
}

.btn-recompensa.resgatar {
    background-color: #ffaa00;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(255, 170, 0, 0.4);
    animation: pulsar 2s infinite;
}

@keyframes pulsar {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}




/* ==========================================================================
   BARRA DE NAVEGAÇÃO INFERIOR COLETIVA
   ========================================================================== */
.aba-inferior {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #09092d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2000;
    padding: 5px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
    font-family: 'roboto-black', sans-serif;
    color: #cccccc;
}
.aba-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'roboto-black', sans-serif;
    font-size: 10px;
    color: #5d5d6e;
    text-decoration: none;
}
.aba-item.ativo {
    color: #cccccc;
    font-weight: bold;
}