@font-face {
    font-family: 'roboto-thin';
    src: url('font/Roboto-thin.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-light';
    src: url('font/Roboto-light.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-medium';
    src: url('font/Roboto-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-bold';
    src: url('font/Roboto-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-black';
    src: url('font/Roboto-black.ttf') format('truetype');
}


.menusuperior {
    position: absolute;
    width: 100%; 
    left: 0;
    top: 0px;
    height: 80px;
    background: #051E4A;
    border-radius: 0px 0px 254px 205px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconeloja {
    margin-top: 0px;
    margin-right: -27px;
}

.loja {
    color: #D4C36E;
    font-family: 'roboto-black', sans-serif;
    font-size: 12px;
    margin-top: 35px;
    margin-right: 1px;
}


.saldototal{
    margin-top: 100px;
    width: 100%;
}
#saldototal{
    font-family: 'roboto-light', sans-serif;
    font-size: 14px;
    color: #D4C36E;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    justify-content: flex-end;
}
.menuvalor{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -30px;
    margin-right: 20px;
    }
.moedatotal{
    color: #D4C36E;
    width: 26px;
    height: 26px;
}
#valortotal{
    font-family: 'roboto-bold', sans-serif;
    font-size: 16px;
    color: #D4C36E;
}


.secoes {
    flex-direction: column;
    display: flex;
    position: relative;
    max-width: 98%;
    margin-top: -56px;
}
.resgatar{
    color: #FF8C70;
    font-family: 'roboto-bold', sans-serif;
    font-size: 16px;
    margin-left: 11px;
    margin-top: 20px;
}
#resgatarmenu{
    width: 102%;
    height: 70px;
    background: #051E4A;
    border-radius: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.conteudocards-resgatar{
    color: #0A5985;
    font-family: 'roboto-light', sans-serif;
    font-size: 12px;
}
.recompensas-diárias{
    color: #FF8C70;
    font-family: 'roboto-bold', sans-serif;
    font-size: 16px;
    margin-left: 11px;
    margin-top: -6px;
}
#recompensasdiarias {
    width: 99%;
    height: 70px;
    background: #051E4A;
    border-radius: 20px;
    margin-bottom: 20px; /* empurra a seção seguinte para baixo */
}
.recompensas-semanais{
    color: #FF8C70;
    font-family: 'roboto-bold', sans-serif;
    font-size: 16px;
    margin-left: 11px;
}
#recompensassemanais {
    width: 99%;
    height: 70px;
    background: #051E4A;
    border-radius: 20px;
    margin-bottom: 20px;
}
.recompensas-mensais{
    color: #FF8C70;
    font-family: 'roboto-bold', sans-serif;
    font-size: 16px;
    margin-left: 11px;
}
#recompensasmensais {
    width: 99%;
    height: 70px;
    background: #051E4A;
    border-radius: 20px;
    margin-bottom: 20px;
}
.recompensas-anuais{
    color: #FF8C70;
    font-family: 'roboto-bold', sans-serif;
    font-size: 16px;
    margin-left: 11px;
    
}
#recompensasanuais {
    width: 99%;
    height: 70px;
    background: #051E4A;
    border-radius: 20px;
    margin-bottom: 20px;
}
.histórico{
    color: #FF8C70;
    font-family: 'roboto-bold', sans-serif;
    font-size: 16px;
    margin-left: 11px;
}
#históricomenu{
    width: 100%;
    height: 70px;
    background: #051E4A;
    border-radius: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.conteudocards-histórico{
    color: #0A5985;
    font-family: 'roboto-light', sans-serif;
    font-size: 12px;
}


.conteudocards{
    align-items: center;
    width: 100%;
    height: 70px;
    background: #051E4A;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
}
.titulos{
     color: #D4C36E;
     font-family: 'roboto-bold', sans-serif;
     font-size: 15px;
     margin-left: 11px;
     margin-top: -20;
}
.subtitulos{
     color: #0A5985;
     font-family: 'roboto-light', sans-serif;
     font-size: 12px;
     margin-left: 11px;
     margin-top: -10px;
}
.moedas{
    color: #0A5985;
    background: none;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto; 
    margin-right: 4px;
    margin-top: -64px;
}
.moedas-diarias{
    color: #0A5985;
}
.moedas-semanais{
    color: #0A5985;
}

.conteudocards:hover,
.conteudocards:hover .titulos{
background-color: #031432;
color: #FF8C70;
}